Client Information sheets
<br />
<br />
<%= link_to 'Dashboard', dashboard_path %> >
<br />
<br />
Select a Client:
<br />

<div>
<ul id="list1">
</ul>
</div>
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>

<script>

$(function show_link_list() {
  $.get("/infosheets/clients").success( function( data ) {
    $.each(data, function(index, client) {
                // Create anchor element. 
                var a = document.createElement('a');  
                var ulist = document.getElementById("list1");
                var newItem = document.createElement("li");

                a.textContent = client.clientname;
                a.setAttribute('href', '/infosheets/clients/' + client.id );
                newItem.appendChild(a);
                ulist.appendChild(newItem); 
    });
  });
});
</script>
